body {
  margin: 0;
  color: #fff;
  padding: 50px;
}

.main_div {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub {
  width: 70%;
  border-radius: 50px;
  background-color:rgba(126, 9, 209, 0.514);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  transition: all 0.3s ease;
}

.sub:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(126, 9, 209, 0.514);
  transform: translate3d(0, -0.2rem, 0) scale(1.01);
  transition: all 0.3s ease;
}

.footer {
  background-color: rgba(126, 9, 209, 0.22 );
  transform: translate3d(-590px, 0, 0);
  margin: 20px;
  padding: 30px;
  
}

.footer {
  transform: translate3d(0, -0.2rem, 0) scale(1.01);
  display: flex;
  border-radius: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h6 {
  font-size: 15px !important;
}

h5 {
  font-size: 18px !important;
}

h1 {
  font-size: 30px !important;
}

